In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Stoe the saved CSV into DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hovd,MN,2022-02-05 03:22:18,48.0056,91.6419,-7.53,80,6,1.25
1,1,Adrar,MR,2022-02-05 03:22:19,20.5022,-10.0711,62.76,12,0,9.73
2,2,Atikokan,CA,2022-02-05 03:22:19,48.7555,-91.6216,-18.36,100,54,1.99
3,3,Khatanga,RU,2022-02-05 03:22:20,71.9667,102.5000,-35.79,100,87,2.53
4,4,Rikitea,PF,2022-02-05 03:22:20,-23.1203,-134.9692,79.07,68,4,8.14

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [16]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [35]:
# Heatmap of temperature
# Get the latitude and longtitude
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent humidty
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Ask the customer to add a minimum and a maxium temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [45]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Rikitea,PF,2022-02-05 03:22:20,-23.1203,-134.9692,79.07,68,4,8.14
5,5,Kapaa,US,2022-02-05 03:22:21,22.0752,-159.3190,79.12,70,40,1.99
8,8,Sola,VU,2022-02-05 03:17:28,-13.8833,167.5500,82.54,77,100,21.34
15,15,Conde,BR,2022-02-05 03:22:25,-7.2597,-34.9075,78.26,83,40,3.44
24,24,Madimba,TZ,2022-02-05 03:22:29,-10.4000,40.3333,75.88,88,100,7.16
28,28,Karangasem,ID,2022-02-05 03:22:31,-8.4500,115.6167,85.14,63,49,1.77
30,30,Atuona,PF,2022-02-05 03:22:32,-9.8000,-139.0333,78.51,77,22,15.90
31,31,Butaritari,KI,2022-02-05 03:22:32,3.0707,172.7902,82.63,77,36,17.76
37,37,Souillac,MU,2022-02-05 03:22:38,-20.5167,57.5167,80.37,89,75,17.27
38,38,Labuhan,ID,2022-02-05 03:22:41,-6.8844,112.2051,84.27,71,32,8.48

In [46]:
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [47]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4      Rikitea      PF     79.07 -23.1203 -134.9692
5        Kapaa      US     79.12  22.0752 -159.3190
8         Sola      VU     82.54 -13.8833  167.5500
15       Conde      BR     78.26  -7.2597  -34.9075
24     Madimba      TZ     75.88 -10.4000   40.3333
28  Karangasem      ID     85.14  -8.4500  115.6167
30      Atuona      PF     78.51  -9.8000 -139.0333
31  Butaritari      KI     82.63   3.0707  172.7902
37    Souillac      MU     80.37 -20.5167   57.5167
38     Labuhan      ID     84.27  -6.8844  112.2051

In [48]:
# Set parameters to search for a hotel.
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [50]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [53]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))